<!DOCTYPE html>
<html>
<?php
$servername = "localhost";
$username = "root";
$pwd = "";
$dbname = "bills_management";

$conn = new mysqli($servername,$username,$pwd,$dbname);
if($conn->connect_error){
	die("Connection failed. Issue : ".$conn->connect_error);
}
?>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/styles.css">
    <title>View/Add/Update Items</title>
  </head>
  <body>
    <h1>View/Add/Update Items</h1>


    <table class="center">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col" colspan="2">Item</th>
          <th scope="col">Price</th>
          <th scope="col" colspan= "2">Company/Keywords</th>
        </tr>
      </thead>
      <tbody>
        <?php
        $servername = "localhost";
        $username = "root";
        $pwd = "";
        $con = mysql_connect("localhost","root","");
        if (!$con)
          {
          die('Could not connect: ' . mysql_error());
          }

        mysql_select_db("bills_management", $con); 

        $result = mysql_query("SELECT ItemID, ItemName, ItemCost, ItemComm FROM Items;");
        $num_rows = mysql_num_rows($result);

        while ($row = mysql_fetch_array($result)) {  ?>
        <tr>
          <td class="item-id"><?php echo $row['ItemID']; ?></td>
          <td colspan="2">
            <strong class="item-name"><?php echo $row['ItemName']; ?></strong>
          </td>
          <td class="item-price"><?php echo $row['ItemCost']; ?></td>
          <td colspan="2" class="item-extra"><?php echo $row['ItemComm']; ?></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Subtotal</td>
          <td colspan="2">$135.36</td>
        </tr>
        <tr>
          <td colspan="4">Tax</td>
          <td colspan="2">$13.54</td>
        </tr>
        <tr>
          <td colspan="4">Total</td>
          <td colspan="2">$148.90</td>
        </tr>
      </tfoot>
    </table>
    <div class="btn_center">
    <input type="button" class="button" value="Add Item">
    <input type="button" class="button" value="Update Item">
  </div>

  </body>
</html>
